hydrogram
aiohttp
aiohttp_cors
tgcrypto
@tainasilva43271
Eu... eu ainda sinto sua falta.  E lembro como se fosse ontem. Vc foi uma namorada incrível lembro detalhes com detalhes seu jeito. Seu ciúmes. Seu carinho vc era tão.. incrível vc me vez me sentir o garoto mais feliz do mundo e eu ainda aqui te procurando msm dps de anos. Eu ainda penso em vc. Eu sinto tanto sua falta. Mh vida ta tão bagunçada. Tão sem graça. Mais eu tenho uma felicidade e uma pss q eu amo mt.  Q e mh irmã 🥰 ela e tão bnt. Queria q vc conhecesse ela eu acho q ela ia te adora..
